<!DOCTYPE html>
<html>
<head>
    <title>SSH Brute Force SOC Lab</title>
</head>

<body>

<h1>SSH Brute Force Investigation</h1>

<p>
Analyze the Linux authentication logs below and identify the attacker IP responsible for the brute-force attack.
</p>

<pre>
{{ logs }}
</pre>

<form action="/submit" method="POST">

    <p>Attacker IP</p>
    <input type="text" name="ip">

    <p>Compromised Username</p>
    <input type="text" name="user">

    <p>Attack Type</p>
    <input type="text" name="attack">

    <br><br>

    <button type="submit">Submit Investigation</button>

</form>

</body>
</html>
